.o_home_menu_background {
    background: url(/drink_more_sale/static/description/drink_more_bg.svg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}